
.list-style {
    list-style: none;
}

.color-1 {
    /*background-color: #FC9918;*/
    background-color: rgb(237, 125, 49)
}

.menu-footer {
    list-style: none;
    font-size: 14px;
}

.font-footer {
    font-size: 14px;
}

